---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - namespaces
      - nodes
      - persistentvolumeclaims
      - persistentvolumes
      - pods
      - secrets
      - serviceaccounts
      - services
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - apps
    resources:
      - daemonsets
      - deployments
      - replicasets
      - statefulsets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - assessment.openshift.io
    resources:
      - assessmentprofiles
      - assessmentsnapshots
      - clusterassessments
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - assessment.openshift.io
    resources:
      - assessmentprofiles/status
      - assessmentsnapshots/status
      - clusterassessments/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - assessment.openshift.io
    resources:
      - clusterassessments/finalizers
    verbs:
      - update
  - apiGroups:
      - autoscaling.openshift.io
    resources:
      - clusterautoscalers
      - machineautoscalers
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - config.openshift.io
      - machineconfiguration.openshift.io
      - monitoring.coreos.com
      - operator.openshift.io
    resources:
      - "*"
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - machine.openshift.io
    resources:
      - machinesets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - monitoring.coreos.com
    resources:
      - prometheusrules
    verbs:
      - create
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - networking.k8s.io
    resources:
      - ingresses
      - networkpolicies
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - oadp.openshift.io
    resources:
      - dataprotectionapplications
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - clusterrolebindings
      - clusterroles
      - rolebindings
      - roles
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - route.openshift.io
    resources:
      - routes
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - security.openshift.io
    resources:
      - securitycontextconstraints
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - storage.k8s.io
    resources:
      - csidrivers
      - csinodes
      - storageclasses
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - velero.io
    resources:
      - backups
      - schedules
    verbs:
      - get
      - list
      - watch
